body {
  background-image: url('https://preview.redd.it/8kuy85eedfr41.jpg?auto=webp&s=f620cd515e5d14af3c1ed641f609102f9902f294');
  background-position: right;
  background-size: 100%;
}

.blur {
  backdrop-filter: blur(14px);
  height: 100vh;
  border-width: 0px;
  margin: -40px -60px;
}

h1, h2, h3 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 40px 40px;
}

h1 {
  font-size: 100px;
  color: #1DB954;
}

h2 {
  font-size: 60px;
  color: #1DB954;
}

r {
  font-size: 60px;
  color: red;
}

* {
  text-align: center;
}

.url-input, .convert-button, .download-button {
  font-size: 1.3em;
  padding: 5px 10px;
}

.url-input {
  border-radius: 4px 0px 0px 4px;
  width: 20em;
  text-align: left;
  border: 5px solid #EEEEEE;
  background: #EEEEEE;
  outline: none;
}

.url-input:focus {
  border: 5px solid #1DB954;
}

.convert-button {
  border-radius: 0px 4px 4px 0px;
  border: 5px solid #1DB954;
  background: #1DB954;
  color: white;
}

embed {
  padding: 20px;
  margin: 40px 40px;
}