{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Slowed Reverb Audio Generator"
    />
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/home.css" %}'>
    <title>Slowed-Reverb Generator</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <input type="hidden" id="URL" value="{{URL}}">
    <div class="blur">
      <div>
        <h1>SLOWED REVERB</h1>
      </div>
      <div>
        <h2>PASTE THE <r>YOUTUBE</r> LINK HERE</h2>
        <input class="url-input" placeholder="URL">
        <button class="convert-button">Convert</button>  
      </div>
        <div>
          <embed controls="controls" id="audio"></embed>
        </div>
        <div>
          <h3 id="patient" style="visibility: hidden;">(BE PATIENT. CONVERSION TAKES ABOUT 10 SECONDS)</h3>
        </div>
    </div>
  </body>
</html>
<script src='{% static "javascripts/home.js" %}'></script>
