{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Slowed Reverb Audio Generator"
    />
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/home.css" %}'>
    <title>Slowed-Reverb Generator</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <input type="hidden" id="URL" value="{{URL}}">
    <div class="blur">
      <div>
        <h1>COPY THE LINK HERE</h1>
        <input class="url-input" placeholder="Video URL">
        <button class="convert-button">Convert</button>  
      </div>
        <div>
          <embed controls="controls" id="audio" src=''></embed>
        </div>
    </div>
  </body>
</html>
<script src='{% static "javascripts/home.js" %}'></script>
